<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>pixi-game</title>
        <link rel="stylesheet" href="./assets/bundle.css">

				<script src="https://cdnjs.cloudflare.com/ajax/libs/pixi.js/5.1.0/pixi.js"></script>
  </head>
  <body>
    <h1>pixi-game</h1>
    <div class="stage" id="stage"></div>
    <script>
      let action = {{.Action}};
      let element = {{.Element}};
      let username = {{.UserName}};
      let date = {{.Date}};
    </script>
    <p><a href="#" id="downloadlink" style="display:none;">ダウンロード</a></p>
	<script src= "./assets/pixi.js"></script>
  </body>
</html>
